<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Car details : {{ car.brand }} {{ car.name }}</title>
    <style>body { font-family: Arial, Helvetica, sans-serif; }</style>

</head>

<body>

    <h1>Car details</h1>

{% if car %}
    <ul>
        <li><strong>Brand : </strong>{{ car.brand }}</li>
        <li><strong>Name : </strong>{{ car.name }}</li>
        <li><strong>Year : </strong>{{ car.year }}</li>
        <li><strong>Color : </strong>{{ car.color }}</li>
        <li><strong>Number of doors : </strong>{{ car.doors }}</li>
    </ul>
{% else %}
    <p>Car not found</p>
{% endif %}

</body>

</html>
